*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*::after,*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul,ol,dl{
    list-style: none;
}
a{
    text-decoration: none;
    color: inherit;  /*继承颜色*/
}
button{
    font: inherit;
    border: none;
    outline: 1px solid;
}
body{
    font-size: 18px;
}
.clearfix::after{
    content: '';
    display: block;
    clear: both;
}